In [1]:
import pandas as pd
import numpy as np
import pickle
import matplotlib.pyplot as plt
%matplotlib inline

### ocean plastics data

In [5]:
plastics = pd.read_csv('WW Marine Datashare.csv', encoding = 'ISO-8859-1')

In [6]:
plastics.info

<bound method DataFrame.info of            Dataset Name  Record Ocean basin    Regional Sea  \
0     Worldwide Marine      1.0     Pacific  Gulf of Alaska
1     Worldwide Marine      2.0     Pacific  Gulf of Alaska
2     Worldwide Marine      3.0     Pacific  Gulf of Alaska
3     Worldwide Marine      4.0     Pacific  Gulf of Alaska
4     Worldwide Marine      5.0     Pacific  Gulf of Alaska
5     Worldwide Marine      6.0     Pacific  Gulf of Alaska
6     Worldwide Marine      8.0    Atlantic             NaN
7     Worldwide Marine     10.0    Atlantic             NaN
8     Worldwide Marine     11.0    Atlantic             NaN
9     Worldwide Marine     12.0    Atlantic             NaN
10    Worldwide Marine     13.0    Atlantic             NaN
11    Worldwide Marine     14.0    Atlantic             NaN
12    Worldwide Marine     15.0    Atlantic             NaN
13    Worldwide Marine     16.0    Atlantic       Caribbean
14    Worldwide Marine     17.0    Atlantic             NaN
15    Worldwide Marine     18.0    Atlantic             NaN
16    Worldwide Marine     19.0    Atlantic             NaN
17    Worldwide Marine     21.0    Atlantic             NaN
18    Worldwide Marine     23.0    Atlantic             NaN
19    Worldwide Marine     24.0    Atlantic             NaN
20    Worldwide Marine     25.0    Atlantic             NaN
21    Worldwide Marine     26.0    Atlantic             NaN
22    Worldwide Marine     27.0    Atlantic             NaN
23    Worldwide Marine     28.0    Atlantic             NaN
24    Worldwide Marine     29.0    Atlantic             NaN
25    Worldwide Marine     30.0    Atlantic             NaN
26    Worldwide Marine     31.0    Atlantic             NaN
27    Worldwide Marine     32.0    Atlantic       Caribbean
28    Worldwide Marine     33.0    Atlantic             NaN
29    Worldwide Marine     34.0    Atlantic       Caribbean
...                 ...     ...         ...             ...
1365  Worldwide Marine   2747.0    Atlantic             NaN
1366  Worldwide Marine   2748.0    Atlantic             NaN
1367  Worldwide Marine   2749.0    Atlantic             NaN
1368  Worldwide Marine   2750.0    Atlantic             NaN
1369  Worldwide Marine   2752.0    Atlantic             NaN
1370  Worldwide Marine   2753.0    Atlantic             NaN
1371  Worldwide Marine   2754.0    Atlantic             NaN
1372  Worldwide Marine   2755.0    Atlantic             NaN
1373  Worldwide Marine   2756.0    Atlantic             NaN
1374  Worldwide Marine   2757.0    Atlantic             NaN
1375  Worldwide Marine   2758.0    Atlantic             NaN
1376  Worldwide Marine   2759.0    Atlantic             NaN
1377  Worldwide Marine   2760.0    Atlantic             NaN
1378  Worldwide Marine   2783.0     Pacific             NaN
1379  Worldwide Marine   2784.0    Atlantic             NaN
1380  Worldwide Marine   2785.0    Atlantic             NaN
1381  Worldwide Marine   2787.0    Atlantic             NaN
1382  Worldwide Marine   2788.0    Atlantic             NaN
1383  Worldwide Marine   2790.0    Atlantic             NaN
1384  Worldwide Marine   2791.0    Atlantic             NaN
1385  Worldwide Marine   2792.0    Atlantic             NaN
1386  Worldwide Marine   2793.0    Atlantic             NaN
1387  Worldwide Marine   2794.0    Atlantic             NaN
1388  Worldwide Marine   2795.0    Atlantic             NaN
1389  Worldwide Marine   2796.0    Atlantic             NaN
1390  Worldwide Marine   2797.0    Atlantic             NaN
1391  Worldwide Marine   2798.0    Atlantic             NaN
1392  Worldwide Marine   2799.0    Atlantic             NaN
1393                NaN     NaN         NaN             NaN
1394                NaN     NaN         NaN             NaN

     Coastal or open ocean? Sample Date  Sample Year Sample Time (local)  \
0                   Coastal      7/1/13       2013.0               10:30
1                   Coastal      7/1/13       2013.0                8:25
2                   Coastal      7/1/13       2013.0               13:20
3                   Coastal      7/1/13       2013.0                5:20
4                   Coastal      7/1/13       2013.0               11:45
5                   Coastal      7/1/13       2013.0                7:35
6                   Coastal     9/23/13       2013.0               16:30
7                   Coastal    10/16/13       2013.0               16:00
8                   Coastal    10/28/13       2013.0                8:30
9                   Coastal     11/2/13       2013.0                9:10
10                  Coastal    11/13/13       2013.0               11:00
11                  Coastal    11/16/13       2013.0                8:00
12                  Coastal    11/16/13       2013.0                8:00
13                  Coastal    11/17/13       2013.0               11:35
14                  Coastal    11/17/13       2013.0               10:04
15                  Coastal    11/18/13       2013.0               17:00
16                  Coastal    11/18/13       2013.0               12:30
17                  Coastal    11/21/13       2013.0               10:29
18                  Coastal    11/21/13       2013.0                9:00
19               Open ocean    11/21/13       2013.0               10:29
20                  Coastal    11/22/13       2013.0               11:15
21                  Coastal    11/23/13       2013.0               14:08
22                  Coastal    11/23/13       2013.0               10:23
23               Open ocean    11/23/13       2013.0               12:45
24                  Coastal    11/23/13       2013.0               11:30
25               Open ocean    11/24/13       2013.0               12:55
26               Open ocean    11/26/13       2013.0               14:00
27                  Coastal    11/27/13       2013.0               14:30
28               Open ocean    11/27/13       2013.0               14:58
29                  Coastal    11/28/13       2013.0               13:15
...                     ...         ...          ...                 ...
1365                Coastal     1/18/17       2017.0               16:15
1366                Coastal     1/19/17       2017.0                9:20
1367                Coastal     1/20/17       2017.0               15:15
1368                Coastal     1/20/17       2017.0               17:15
1369                Coastal     1/21/17       2017.0               12:30
1370                Coastal     1/27/17       2017.0                9:45
1371                Coastal     1/27/17       2017.0               12:00
1372                Coastal     1/27/17       2017.0               16:40
1373                Coastal     1/28/17       2017.0               10:00
1374                Coastal     1/28/17       2017.0               12:00
1375                Coastal     1/29/17       2017.0               10:10
1376                Coastal     1/29/17       2017.0               11:15
1377                Coastal     1/30/17       2017.0               12:00
1378                Coastal      2/1/17       2017.0               12:20
1379                Coastal      2/4/17       2017.0                9:00
1380                Coastal      2/4/17       2017.0               14:40
1381                Coastal      2/5/17       2017.0               15:00
1382                Coastal      2/6/17       2017.0                9:30
1383                Coastal      2/7/17       2017.0               15:00
1384                Coastal      2/8/17       2017.0                8:45
1385                Coastal      2/8/17       2017.0               15:30
1386                Coastal      2/9/17       2017.0                8:45
1387                Coastal      2/9/17       2017.0               15:30
1388                Coastal     2/10/17       2017.0                9:00
1389                Coastal     2/10/17       2017.0               15:30
1390                Coastal     2/11/17       2017.0                9:20
1391                Coastal     2/11/17       2017.0               10:00
1392                Coastal     2/11/17       2017.0               15:30
1393                    NaN         NaN          NaN                 NaN
1394                    NaN         NaN          NaN                 NaN

                                      Sample Location  Sample Latitude  \
0                            Augustine Island, Alaska        59.378683
1                            Augustine Island, Alaska        59.368133
2                            Augustine Island, Alaska        59.341467
3                            Augustine Island, Alaska        59.638717
4                            Augustine Island, Alaska        59.373600
5                            Augustine Island, Alaska        59.392967
6                                                 NaN        43.661200
7                                                 NaN        41.246650
8                                                 NaN        39.351300
9                                                 NaN        39.284783
10                                                NaN        38.331400
11                                                NaN        37.801400
12                                                NaN        37.302600
13                                                NaN        18.304700
14    Leopard Beach, Carcass Island, Falkland Islands       -51.308200
15                                                NaN        36.846300
16                          Stanley, Falkland Islands       -51.691800
17                                                NaN       -54.886900
18                           Stromness, South Georgia       -54.156700
19                                                NaN        31.343800
20                         Fortuna Bay, South Georgia       -54.132000
21                                                NaN       -54.738300
22                                                NaN       -54.943100
23                                                NaN        30.565900
24                     St. Andrews Bay, South Georgia       -54.434000
25                                                NaN        29.327500
26                                                NaN        25.848600
27                                                NaN        21.221189
28                                                NaN        24.290900
29                                                NaN        21.031301
...                                               ...              ...
1365                                          TRISTAN       -37.078330
1366                                      NIGHTINGALE       -37.415240
1367                                            GOUGH       -40.358410
1368                                            GOUGH       -40.343830
1369                                            GOUGH       -40.323340
1370                                     INACCESSIBLE       -37.293020
1371                                     INACCESSIBLE       -37.304690
1372                                     INACCESSIBLE       -37.312670
1373                                     INACCESSIBLE       -37.287260
1374                                     INACCESSIBLE       -37.285410
1375                                      NIGHTINGALE       -37.418210
1376                                      NIGHTINGALE       -37.423530
1377                                      NIGHTINGALE       -37.430670
1378                                    Isla Cayetano       -53.864230
1379                                      Isla Hornos       -55.960660
1380                                      Isla Hornos       -55.964790
1381                                    Diego Ramirez       -56.519500
1382                                    Diego Ramirez       -56.517160
1383                                    Isla Herschel       -55.826390
1384                                     Isla Hermite       -55.810120
1385                                     Isla Hermite       -55.834430
1386                                   Isla Wollaston       -55.758600
1387                                   Isla Wollaston       -55.750400
1388                                   Isla Wollaston       -55.750120
1389                                   Isla Wollaston       -55.590390
1390                                   Isla Wollaston       -55.625100
1391                                   Isla Wollaston       -55.624160
1392                                       Isla Grevy       -55.529990
1393                                              NaN              NaN
1394                                              NaN              NaN

         ...       Total Filament  Total Other Shape Total Pieces  \
0        ...                  1.0                0.0          1.0
1        ...                 10.0                0.0         10.0
2        ...                 13.0                1.0         14.0
3        ...                 17.0                0.0         17.0
4        ...                 69.0                2.0         71.0
5        ...                  2.0                0.0          2.0
6        ...                 16.0                1.0         17.0
7        ...                  8.0                0.0          8.0
8        ...                  2.0                0.0          2.0
9        ...                 11.0                1.0         12.0
10       ...                  3.0                0.0          3.0
11       ...                 12.0                0.0         12.0
12       ...                 10.0                0.0         10.0
13       ...                 15.0                1.0         16.0
14       ...                 10.0                0.0         10.0
15       ...                  4.0                0.0          4.0
16       ...                 12.0                3.0         15.0
17       ...                  6.0                0.0          6.0
18       ...                 11.0                0.0         11.0
19       ...                 73.0                4.0         77.0
20       ...                 11.0                1.0         12.0
21       ...                 12.0                0.0         12.0
22       ...                  1.0                0.0          1.0
23       ...                 30.0                0.0         30.0
24       ...                 14.0                0.0         15.0
25       ...                235.0                2.0        237.0
26       ...                 38.0                0.0         38.0
27       ...                 10.0                0.0         10.0
28       ...                 38.0                2.0         41.0
29       ...                  5.0                1.0          6.0
...      ...                  ...                ...          ...
1365     ...                  1.0                0.0          1.0
1366     ...                  1.0                0.0          1.0
1367     ...                  3.0                0.0          3.0
1368     ...                  1.0                0.0          1.0
1369     ...                  1.0                0.0          1.0
1370     ...                  1.0                0.0          1.0
1371     ...                  1.0                0.0          1.0
1372     ...                  0.0                0.0          0.0
1373     ...                  2.0                0.0          2.0
1374     ...                  1.0                0.0          1.0
1375     ...                  1.0                0.0          1.0
1376     ...                  0.0                0.0          0.0
1377     ...                  0.0                0.0          0.0
1378     ...                  3.0                0.0          3.0
1379     ...                  3.0                0.0          3.0
1380     ...                  2.0                0.0          2.0
1381     ...                  2.0                0.0          2.0
1382     ...                  0.0                0.0          0.0
1383     ...                  0.0                0.0          0.0
1384     ...                  0.0                0.0          0.0
1385     ...                  2.0                0.0          2.0
1386     ...                  2.0                0.0          2.0
1387     ...                  2.0                0.0          2.0
1388     ...                  0.0                0.0          0.0
1389     ...                  0.0                0.0          0.0
1390     ...                  0.0                0.0          0.0
1391     ...                  1.0                0.0          1.0
1392     ...                  2.0                0.0          2.0
1393     ...                  NaN                NaN          NaN
1394     ...                  NaN                NaN          NaN

     Total Pieces/L Total Pieces/L (calculated, floored) Sample Jar Material  \
0          1.000000                                  1.0                 NaN
1         10.000000                                 10.0                 NaN
2         14.000000                                 14.0                 NaN
3         17.000000                                 17.0                 NaN
4         71.000000                                 71.0                 NaN
5          2.000000                                  2.0                 NaN
6         17.000000                                 17.0                 NaN
7          8.000000                                  8.0                 NaN
8          2.000000                                  2.0                 NaN
9         12.000000                                 12.0                 NaN
10         3.000000                                  3.0                 NaN
11        10.000000                                 10.0             Plastic
12         7.142857                                  7.0             Plastic
13        12.307692                                 12.0             Plastic
14         8.333333                                  8.0             Plastic
15         4.000000                                  4.0             Plastic
16        12.500000                                 12.0             Plastic
17         6.000000                                  6.0                 NaN
18         9.166667                                  9.0             Plastic
19        61.600000                                 61.0               Glass
20        12.000000                                 12.0             Plastic
21        12.000000                                 12.0                 NaN
22         1.000000                                  1.0                 NaN
23        22.222222                                 22.0             Plastic
24        13.043478                                 13.0             Plastic
25       175.555556                                175.0             Plastic
26        29.230769                                 29.0             Plastic
27        10.000000                                 10.0                 NaN
28        32.800000                                 32.0             Plastic
29         6.000000                                  6.0                 NaN
...             ...                                  ...                 ...
1365       0.784314                                  0.0     Stainless steel
1366       0.778210                                  0.0     Stainless steel
1367       2.334630                                  2.0     Stainless steel
1368       0.778210                                  0.0     Stainless steel
1369       0.732601                                  0.0     Stainless steel
1370       0.784314                                  0.0     Stainless steel
1371       0.800000                                  0.0     Stainless steel
1372       0.000000                                  0.0     Stainless steel
1373       1.568627                                  1.0     Stainless steel

In [7]:
plastics.head()

,Dataset Name,Record,Ocean basin,Regional Sea,Coastal or open ocean?,Sample Date,Sample Year,Sample Time (local),Sample Location,Sample Latitude,...,Total Filament,Total Other Shape,Total Pieces,Total Pieces/L,"Total Pieces/L (calculated, floored)",Sample Jar Material,Plastic Type,Lab Notes,Unnamed: 140,Unnamed: 141
0,Worldwide Marine,1.0,Pacific,Gulf of Alaska,Coastal,7/1/13,2013.0,10:30,"Augustine Island, Alaska",59.378683,...,1.0,0.0,1.0,1.0,1.0,NaN,NaN,NaN,NaN,NaN
1,Worldwide Marine,2.0,Pacific,Gulf of Alaska,Coastal,7/1/13,2013.0,8:25,"Augustine Island, Alaska",59.368133,...,10.0,0.0,10.0,10.0,10.0,NaN,NaN,NaN,NaN,NaN
2,Worldwide Marine,3.0,Pacific,Gulf of Alaska,Coastal,7/1/13,2013.0,13:20,"Augustine Island, Alaska",59.341467,...,13.0,1.0,14.0,14.0,14.0,NaN,NaN,NaN,NaN,NaN
3,Worldwide Marine,4.0,Pacific,Gulf of Alaska,Coastal,7/1/13,2013.0,5:20,"Augustine Island, Alaska",59.638717,...,17.0,0.0,17.0,17.0,17.0,NaN,NaN,NaN,NaN,NaN
4,Worldwide Marine,5.0,Pacific,Gulf of Alaska,Coastal,7/1/13,2013.0,11:45,"Augustine Island, Alaska",59.373600,...,69.0,2.0,71.0,71.0,71.0,NaN,NaN,NaN,NaN,NaN

In [8]:
plastics.shape

(1395, 142)

In [12]:
plastics.rename(columns={'Sample Latitude': 'Sample_Latitude'}, inplace=True)
plastics.rename(columns={'Sample Longitude': 'Sample_Longitude'}, inplace=True)
plastics.rename(columns={'Sample Year': 'Sample_Year'}, inplace=True)
plastics.rename(columns={'Ocean basin': 'Ocean_Basin'}, inplace=True)
plastics.rename(columns={'Coastal or open ocean?': 'Coastal_OpenOcean?'}, inplace=True)
plastics.rename(columns={'Water Temperature (approximate C)': 'Water_Temp'}, inplace=True)
plastics.rename(columns={'Wind Speed (knots, Marine only)': 'Wind_Speed'}, inplace=True)
plastics.rename(columns={'Total Pieces': 'Total_Pieces'}, inplace=True)
plastics.rename(columns={'Total Pieces/L': 'Total_Pieces/L'}, inplace=True)

In [13]:
plastics.head()

,Dataset Name,Record,Ocean_Basin,Regional Sea,Coastal_OpenOcean?,Sample Date,Sample_Year,Sample Time (local),Sample Location,Sample_Latitude,...,Total Filament,Total Other Shape,Total_Pieces,Total_Pieces/L,"Total Pieces/L (calculated, floored)",Sample Jar Material,Plastic Type,Lab Notes,Unnamed: 140,Unnamed: 141
0,Worldwide Marine,1.0,Pacific,Gulf of Alaska,Coastal,7/1/13,2013.0,10:30,"Augustine Island, Alaska",59.378683,...,1.0,0.0,1.0,1.0,1.0,NaN,NaN,NaN,NaN,NaN
1,Worldwide Marine,2.0,Pacific,Gulf of Alaska,Coastal,7/1/13,2013.0,8:25,"Augustine Island, Alaska",59.368133,...,10.0,0.0,10.0,10.0,10.0,NaN,NaN,NaN,NaN,NaN
2,Worldwide Marine,3.0,Pacific,Gulf of Alaska,Coastal,7/1/13,2013.0,13:20,"Augustine Island, Alaska",59.341467,...,13.0,1.0,14.0,14.0,14.0,NaN,NaN,NaN,NaN,NaN
3,Worldwide Marine,4.0,Pacific,Gulf of Alaska,Coastal,7/1/13,2013.0,5:20,"Augustine Island, Alaska",59.638717,...,17.0,0.0,17.0,17.0,17.0,NaN,NaN,NaN,NaN,NaN
4,Worldwide Marine,5.0,Pacific,Gulf of Alaska,Coastal,7/1/13,2013.0,11:45,"Augustine Island, Alaska",59.373600,...,69.0,2.0,71.0,71.0,71.0,NaN,NaN,NaN,NaN,NaN

In [14]:
# df.dropna(inplace=True)

In [15]:
plastics.shape

(1395, 142)

In [16]:
plastics = plastics[['Record','Sample_Latitude','Sample_Longitude','Total_Pieces','Total_Pieces/L']].copy()
plastics.head()

   Record  Sample_Latitude  Sample_Longitude  Total_Pieces  Total_Pieces/L
0     1.0        59.378683       -153.520867           1.0             1.0
1     2.0        59.368133       -153.552333          10.0            10.0
2     3.0        59.341467       -153.549767          14.0            14.0
3     4.0        59.638717       -153.395667          17.0            17.0
4     5.0        59.373600       -153.448067          71.0            71.0

In [17]:
plastics.isna().sum()

Record              2
Sample_Latitude     2
Sample_Longitude    2
Total_Pieces        2
Total_Pieces/L      2
dtype: int64

In [18]:
# maybe/maybe not
plastics.dropna(inplace=True)

In [19]:
plastics.shape

(1393, 5)

### city data

In [16]:
cities = pd.read_csv('worldcitiespop_clean.csv', encoding = 'ISO-8859-1')

In [17]:
cities.head()

,Country,City,AccentCity,Region,City_Population,City_Latitude,City_Longitude
0,gl,neriunaq,Neriunaq,3,7,64.4667,-50.3167
1,gl,tasiusaq,Tasiusaq,3,7,73.3667,-56.0500
2,gl,timerliit,Timerliit,3,7,65.8333,-53.2500
3,fo,skaelingur,Sk_lingur,0,11,62.1000,-7.0000
4,gl,ivittuut,Ivittuut,3,11,61.2000,-48.1667

In [18]:
cities.shape

(14000, 7)

### aggregating ocean plastics and city data

In [19]:
import geopy.distance

In [74]:
plastics.head()

   Record  Sample_Latitude  Sample_Longitude  Total_Pieces  Total_Pieces/L
0     1.0        59.378683       -153.520867           1.0             1.0
1     2.0        59.368133       -153.552333          10.0            10.0
2     3.0        59.341467       -153.549767          14.0            14.0
3     4.0        59.638717       -153.395667          17.0            17.0
4     5.0        59.373600       -153.448067          71.0            71.0

In [76]:
plastics.shape

(1393, 5)

In [77]:
%%time

# calculating distance between each sample of ocean plastic and the closest 3 cities and population in those cities

df_closest_cities = pd.DataFrame()
master_city_lol = list()
master_closest_cities_plastics = pd.DataFrame()

for idx, row in plastics.iterrows():
    
    p_record = row['Record']
    p_lat = row['Sample_Latitude']
    p_long = row['Sample_Longitude']
    p_pieces = row['Total_Pieces']
    
    for idx, row in cities.iterrows():
        c_lat = row['City_Latitude']
        c_long = row['City_Longitude']
        c_city = row['City']
        c_country = row['Country']
        c_population = row['City_Population']

        specific_city = list()
        specific_city = [#p_lat,p_long,p_pieces,
                         c_city,c_country,c_population,\
                                geopy.distance.great_circle((p_lat,p_long), (c_lat,c_long)).km]

        master_city_lol.append(specific_city)
        #OUT OF CITIES
    
    df_closest_cities = pd.DataFrame(master_city_lol)
    df_closest_cities.head(5)

    df_closest_cities.columns =  ["c_city","c_country","c_population","distance_from_city"] #['p_long','p_lat','p_total_pieces',
    df_closest_cities = df_closest_cities.sort_values(by='distance_from_city').head(3).reset_index(drop=True)
    df_closest_cities_clean = df_closest_cities.stack().to_frame().T
    df_closest_cities_clean

    old_cols = ["c_city","c_country","c_population","distance_from_city"]

    new_cols = list()
    for i in range(1,4):
        for c in old_cols:
            appender = str()
            new_cols.append(c + f"_{i}")
    df_closest_cities_clean.columns = new_cols
    df_closest_cities_clean['p_record']= p_record
    df_closest_cities_clean['p_lat'] = p_lat 
    df_closest_cities_clean['p_long']= p_long
    df_closest_cities_clean['p_total_pieces']= p_pieces
    df_closest_cities_clean.head()
    
    master_closest_cities_plastics = pd.concat([master_closest_cities_plastics,df_closest_cities_clean])
master_closest_cities_plastics.head()

CPU times: user 4h 11min, sys: 24min 54s, total: 4h 35min 54s
Wall time: 4h 34min 34s

In [78]:
master_closest_cities_plastics.shape

(1393, 16)

In [79]:
master_closest_cities_plastics.to_csv('ocean_plastics_cities.csv')

### river data

In [25]:
rivers = pd.read_csv('rivers.csv', encoding = 'ISO-8859-1')

In [26]:
rivers.head()

   No         Name     Vol    lon   lat
0   1       Amazon  6642.0  -55.5  -2.0
1   2        Congo  1308.0   15.3  -4.3
2   3      Orinoco  1129.0  -63.6   8.1
3   4   Changjiang   944.0  117.6  30.8
4   5  Brahmaputra   628.0   89.7  25.2

### aggregating ocean plastic and river data

In [13]:
import geopy.distance

In [29]:
%%time

# calculating distance between each sample of ocean plastic and the closest 3 rivers and water discharge from those rivers

df_closest_rivers = pd.DataFrame()
master_river_lol = list()
master_closest_rivers_plastics = pd.DataFrame()

for idx, row in plastics.iterrows():
    
    p_record = row['Record']
    p_lat = row['Sample_Latitude']
    p_long = row['Sample_Longitude']
    p_pieces = row['Total_Pieces']
    
    for idx, row in rivers.iterrows():
        r_lat = row['lat']
        r_long = row['lon']
        r_vol = row['Vol']
        r_name = row['Name']

        specific_river = list()
        specific_river = [#p_lat,p_long,p_pieces,
                         r_name,r_vol,\
                                geopy.distance.great_circle((p_lat,p_long), (r_lat,r_long)).km]

        master_river_lol.append(specific_river)
        #OUT OF RIVERS
    
    df_closest_rivers = pd.DataFrame(master_river_lol)
    df_closest_rivers.head(5)

    df_closest_rivers.columns =  ["r_name","r_vol","distance_from_river"] #['p_long','p_lat','p_total_pieces',
    df_closest_rivers = df_closest_rivers.sort_values(by='distance_from_river').head(3).reset_index(drop=True)
    df_closest_rivers_clean = df_closest_rivers.stack().to_frame().T
    df_closest_rivers_clean

    old_cols = ["r_name","r_vol","distance_from_river"]

    new_cols = list()
    for i in range(1,4):
        for c in old_cols:
            appender = str()
            new_cols.append(c + f"_{i}")
    df_closest_rivers_clean.columns = new_cols
    df_closest_rivers_clean['p_record']= p_record
    df_closest_rivers_clean['p_lat'] = p_lat 
    df_closest_rivers_clean['p_long']= p_long
    df_closest_rivers_clean['p_total_pieces']= p_pieces
    df_closest_rivers_clean.head()
    
    master_closest_rivers_plastics = pd.concat([master_closest_rivers_plastics,df_closest_rivers_clean])
master_closest_rivers_plastics.head()

CPU times: user 1min 56s, sys: 7.04 s, total: 2min 3s
Wall time: 2min 1s

In [31]:
master_closest_rivers_plastics.to_csv('ocean_plastics_rivers.csv')

### river plastics data

In [2]:
plastics = pd.read_csv('WW Freshwater Datashare.csv', encoding = 'ISO-8859-1')

In [3]:
plastics.info

<bound method DataFrame.info of       Record Sample Date Sample Year Sample Time (local)  \
0        838     3/14/15        2015               13:06
1        860     3/20/15        2015               14:13
2        866     3/24/15        2015               14:16
3        875     3/24/15        2015               12:30
4        877     3/25/15        2015               22:29
5        878     3/25/15        2015               17:50
6        899      5/1/15        2015               18:00
7        902     5/21/15        2015                8:55
8        903     5/22/15        2015               20:05
9        904     5/23/15        2015               15:29
10       905     5/23/15        2015               13:05
11       907     5/25/15        2015                8:21
12       909     5/26/15        2015               19:45
13       910     5/27/15        2015               19:45
14       915      6/6/15        2015               13:26
15       916      6/6/15        2015               14:48
16       919      6/7/15        2015                9:15
17       927     6/14/15        2015               17:30
18       928     6/14/15        2015               18:30
19       929     6/15/15        2015               17:37
20       936     6/20/15        2015               19:13
21       937     6/20/15        2015               17:42
22       938     6/20/15        2015               17:49
23       939     6/20/15        2015               18:24
24       940     6/20/15        2015               18:33
25       941     6/20/15        2015               18:42
26       942     6/20/15        2015               18:56
27       943     6/20/15        2015               19:03
28       944     6/20/15        2015               20:38
29       945     6/20/15        2015               11:36
...      ...         ...         ...                 ...
979     2966     5/23/16        2016               10:00
980     2967     10/9/16        2016               16:15
981     2968     10/9/16        2016                9:57
982     2969     6/25/16        2016               14:41
983     2970     6/24/16        2016               10:36
984     2971     6/24/16        2016               12:01
985     2972     6/24/16        2016               12:53
986     2973     6/24/16        2016               13:45
987     2974     6/24/16        2016               12:22
988     2975     6/26/16        2016               14:10
989     2976     6/26/16        2016               13:24
990     2977     6/26/16        2016                1643
991     2978     6/26/16        2016                1717
992     2979     6/26/16        2016                1427
993     2980     5/23/16        2016                7:40
994     2981     6/24/16        2016               13:24
995     2982     5/22/16        2016               15:30
996     2983     6/26/16        2016               10:25
997     2984     6/26/16        2016                1622
998     2985     6/26/16        2016               12:49
999     2986     6/26/16        2016                1641
1000    2987     5/23/16        2016                8:30
1001    2988     6/26/16        2016               12:29
1002    2989     6/27/16        2016                1723
1003    2990     6/26/16        2016                1727
1004    2991     5/23/16        2016               18:15
1005    2992     6/26/16        2016               12:14
1006    2993     5/23/16        2016               11:20
1007    2994     6/26/16        2016                1629
1008    2995     5/23/16        2016                6:45

                                  Sample Location  Sample Lat/Long - Latitude  \
0                                               x                   46.369440
1                                             NaN                   46.186110
2                                             NaN                   46.506390
3                                             NaN                   46.475830
4                                             NaN                   46.047220
5                                             NaN                   46.439720
6                                               x                   33.126670
7                                               x                   46.698078
8                                               x                   47.122842
9                                               x                   47.749283
10                                              x                   47.597392
11                          Olympic Peninsula, WA                   47.832890
12                                              x                   47.912706
13                                              x                   47.902450
14                                    Geneva Lake                   42.547057
15                                    Geneva Lake                   42.590504
16                                            NaN                   37.210212
17                                 Stillwater, MN                   45.124858
18                                 Stillwater, MN                   45.076352
19                                    Geneva Lake                   43.077030
20                                 Stillwater, MN                   44.952395
21                                 Stillwater, MN                   44.966253
22                                 Stillwater, MN                   44.965360
23                                 Stillwater, MN                   44.957962
24                                 Stillwater, MN                   44.955121
25                                 Stillwater, MN                   44.954899
26                                 Stillwater, MN                   44.948926
27                                 Stillwater, MN                   44.950223
28                                 Stillwater, MN                   44.936079
29                                 Stillwater, MN                   45.182210
...                                           ...                         ...
979                     Upstream @ Cloud Splitter                   43.966317
980                               Lake Colden Dam                   44.120000
981                       Lake Tear of the Clouds                   44.172220
982                                        Albany                   42.664900
983   North Germantown Reach to Hudson City Light                   42.181045
984                                  priming hook                   42.286135
985                            rattlesnack island                   42.373062
986                                barren island                    42.431050
987                                  fitchs wharf                   42.329164
988             Stillwater Hudson Riverfront Park                   42.994200
989                                           NaN                   43.248600
990                                           NaN                   43.387300
991                                           NaN                   43.447750
992                                   North River                   43.744417
993                            Hudson Info Center                   43.959583
994                                        Hudson                   42.431055
995                               Lock one marina                   42.828900
996                                           NaN                   43.214500
997                                           NaN                   43.269400
998                                           NaN                   43.273700
999                                           NaN                   43.537733
1000                 Hike from Hudson info Center                   43.967233
1001                                          NaN                   43.263500
1002                                          NaN                   43.338558
1003                                          NaN                   43.418817
1004                        Upper Works Trailhead                   44.059000
1005                                          NaN                   43.291900
1006     Small dam between Newcomb & Indian River                   43.894067
1007                                          NaN                   43.578567
1008         1 mi. S. of Tahwus Lake, on Route 25                   44.031750

      Sample Lat/Long - Longitude  Water Temperature (approximate)  \
0                       14.106670                              NaN
1                       13.474720                              NaN
2                       13.577220                              NaN
3                       13.669720                              NaN
4                       14.505560                              NaN
5                       13.896110                              NaN
6                      -86.843611                              NaN
7                      -87.491439                         4.000000
8                      -88.570092                              NaN
9                      -89.154525                         4.000000
10                     -88.998803                         5.000000
11                    -123.692250                              NaN
12                     -89.157258                              NaN
13                     -89.404464                              NaN
14                     -88.557074                              NaN
15                     -88.433655                              NaN
16                    -112.674442                              NaN
17                     -92.746426                              NaN
18                     -92.793471                              NaN
19                     -89.398220                        17.000000
20                     -93.306152                              NaN
21                     -93.324723                              NaN
22                     -93.323240                              NaN
23                     -93.320530                              NaN
24                     -93.315323                              NaN
25                     -93.310441                              NaN
26                     -93.307746                              NaN
27                     -93.307924                              NaN
28                     -93.318771                              NaN
29                     -93.416980                              NaN
...                           ...                              ...
979                    -74.131500                              NaN
980                    -73.982600                              NaN
981                    -73.963890                              NaN
982                    -73.728817                              NaN
983                    -73.866832                        23.333333
984                    -73.782967                        23.333333
985                    -73.792707                        23.333333
986                    -73.780992                        23.333333
987                    -73.784176                        23.333333
988                    -73.609800                              NaN
989                    -73.834100                              NaN
990                    -73.877731                              NaN
991                    -73.863133                              NaN
992                    -74.024528                              NaN
993                    -74.094133                              NaN
994                    -73.780992                        23.333333
995                    -73.666400                              NaN
996                    -73.580000                              NaN
997                    -73.835500                              NaN
998                    -73.727200                              NaN
999                    -73.827083                              NaN
1000                   -74.100167                              NaN
1001                   -73.674700                              NaN
1002                   -73.874567                              NaN
1003                   -73.881583                              NaN
1004                   -74.007367                              NaN
1005                   -73.654400                              NaN
1006                   -74.164900                              NaN
1007                   -73.859867                              NaN
1008                   -74.053817                              NaN

                                Sampling Platform      Continent  \
0                                           Shore         Europe
1                                          Wading  North America
2                                           Other         Europe
3                                           Shore         Europe
4                                      Dock/Jetty         Europe
5                                           Shore         Europe
6                                          Wading  North America
7                           Sailboat/Large Vessel  North America
8                                           Shore  North America
9                           Sailboat/Large Vessel  North America
10                          Sailboat/Large Vessel  North America
11                                          Shore  North America
12                                     Dock/Jetty  North America
13                          Sailboat/Large Vessel  North America
14                                     Dock/Jetty  North America
15                                          Shore  North America
16                                          Shore  North America
17    Other Vessel (Surfboard, Paddleboard, etc.)  North America
18    Other Vessel (Surfboard, Paddleboard, etc.)  North America
19                                     Dock/Jetty  North America
20                                          Kayak  North America
21                                          Kayak  North America
22                                          Kayak  North America
23                                          Kayak  North America
24                                          Kayak  North America
25                                          Kayak  North America
26                                          Kayak  North America
27                                          Kayak  North America
28                                         Wading  North America
29                                         Wading  North America
...                                           ...            ...
979                                         Shore  North America
980                                        Wading  North America
981                                        Wading  North America
982                                    Small boat  North America
983                         Sailboat/Large Vessel  North America
984                         Sailboat/Large Vessel  North America
985                         Sailboat/Large Vessel  North America
986                         Sailboat/Large Vessel  North America
987                         Sailboat/Large Vessel  North America
988                                    Dock/Jetty  North America
989                                          wade  North America
990                                          wade  North America
991                                          wade  North America
992                                          wade  North America
993                                    Dock/Jetty  North America
994                         Sailboat/Large Vessel  North America
995                                           NaN  North America
996                                          wade  North America
997                                          wade  North America
998                                          wade  North America
999                                          wade  North America
1000                                        Shore  North America
1001                                         dock  North America
1002                                         wade  North America
1003                                         wade  North America
1004                                       Wading  North America
1005                                         wade  North America
1006                                       Shore   North America
1007                                         wade  North America
1008                                       Wading  North America

          ...      Unnamed: 136 Unnamed: 137 Unnamed: 138 Unnamed: 139  \
0         ...               NaN          NaN          NaN          NaN
1         ...               NaN          NaN          NaN          NaN
2         ...               NaN          NaN          NaN          NaN
3         ...               NaN          NaN          NaN          NaN
4         ...               NaN          NaN          NaN          NaN
5         ...               NaN          NaN          NaN          NaN
6         ...               NaN          NaN          NaN          NaN
7         ...               NaN          NaN          NaN          NaN
8         ...               NaN          NaN          NaN          NaN
9         ...               NaN          NaN          NaN          NaN
10        ...               NaN          NaN          NaN          NaN
11        ...               NaN          NaN          NaN          NaN
12        ...               NaN          NaN          NaN          NaN
13        ...               NaN          NaN          NaN          NaN
14        ...               NaN          NaN          NaN          NaN
15        ...               NaN          NaN          NaN          NaN
16        ...               NaN          NaN          NaN          NaN
17        ...               NaN          NaN          NaN          NaN
18        ...               NaN          NaN          NaN          NaN
19        ...               NaN          NaN          NaN          NaN
20        ...               NaN          NaN          NaN          NaN
21        ...               NaN          NaN          NaN          NaN
22        ...               NaN          NaN          NaN          NaN
23        ...               NaN          NaN          NaN          NaN
24        ...               NaN          NaN          NaN          NaN
25        ...               NaN          NaN          NaN          NaN
26        ...               NaN          NaN          NaN          NaN
27        ...               NaN          NaN          NaN          NaN
28        ...               NaN          NaN          NaN          NaN
29        ...               NaN          NaN          NaN          NaN
...       ...               ...          ...          ...          ...
979       ...               NaN          NaN          NaN          NaN
980       ...               NaN          NaN          NaN          NaN
981       ...               NaN          NaN          NaN          NaN
982       ...               NaN          NaN          NaN          NaN
983       ...               NaN          NaN          NaN          NaN
984       ...               NaN          NaN          NaN          NaN
985       ...               NaN          NaN          NaN          NaN
986       ...               NaN          NaN          NaN          NaN
987       ...               NaN          NaN          NaN          NaN
988       ...               NaN          NaN          NaN          NaN
989       ...               NaN          NaN          NaN          NaN
990       ...               NaN          NaN          NaN          NaN
991       ...               NaN          NaN          NaN          NaN
992       ...               NaN          NaN          NaN          NaN
993       ...               NaN          NaN          NaN          NaN

In [4]:
plastics.head()

,Record,Sample Date,Sample Year,Sample Time (local),Sample Location,Sample Lat/Long - Latitude,Sample Lat/Long - Longitude,Water Temperature (approximate),Sampling Platform,Continent,...,Unnamed: 136,Unnamed: 137,Unnamed: 138,Unnamed: 139,Unnamed: 140,Unnamed: 141,Unnamed: 142,Unnamed: 143,Unnamed: 144,Unnamed: 145
0,838,3/14/15,2015,13:06,x,46.36944,14.10667,NaN,Shore,Europe,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,860,3/20/15,2015,14:13,NaN,46.18611,13.47472,NaN,Wading,North America,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,866,3/24/15,2015,14:16,NaN,46.50639,13.57722,NaN,Other,Europe,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,875,3/24/15,2015,12:30,NaN,46.47583,13.66972,NaN,Shore,Europe,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,877,3/25/15,2015,22:29,NaN,46.04722,14.50556,NaN,Dock/Jetty,Europe,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
plastics.shape

(1009, 146)

In [6]:
plastics.rename(columns={'Sample Lat/Long - Latitude': 'Sample_Latitude'}, inplace=True)
plastics.rename(columns={'Sample Lat/Long - Longitude': 'Sample_Longitude'}, inplace=True)
plastics.rename(columns={'Sample Year': 'Sample_Year'}, inplace=True)
plastics.rename(columns={'Sample waters': 'Sample_Waters'}, inplace=True)
plastics.rename(columns={'Total Pieces': 'Total_Pieces'}, inplace=True)
plastics.rename(columns={'Total Pieces/L': 'Total_Pieces/L'}, inplace=True)

In [7]:
plastics = plastics[['Record','Sample_Latitude','Sample_Longitude','Sample_Waters','Total_Pieces','Total_Pieces/L']].copy()
plastics.head()

,Record,Sample_Latitude,Sample_Longitude,Sample_Waters,Total_Pieces,Total_Pieces/L
0,838,46.36944,14.10667,Lake,6,5.217391
1,860,46.18611,13.47472,River,2,1.666667
2,866,46.50639,13.57722,Stream,2,1.600000
3,875,46.47583,13.66972,Lake,2,1.600000
4,877,46.04722,14.50556,River,2,1.600000

In [8]:
plastics.isna().sum()

Record              0
Sample_Latitude     0
Sample_Longitude    0
Sample_Waters       0
Total_Pieces        0
Total_Pieces/L      0
dtype: int64

In [ ]:
# maybe/maybe not
plastics.dropna(inplace=True)

In [9]:
plastics.shape

(1009, 6)

### aggregating river plastics and city data

In [10]:
cities = pd.read_csv('worldcitiespop_clean.csv', encoding = 'ISO-8859-1')

In [11]:
cities.head()

,Country,City,AccentCity,Region,City_Population,City_Latitude,City_Longitude
0,gl,neriunaq,Neriunaq,3,7,64.4667,-50.3167
1,gl,tasiusaq,Tasiusaq,3,7,73.3667,-56.0500
2,gl,timerliit,Timerliit,3,7,65.8333,-53.2500
3,fo,skaelingur,Sk_lingur,0,11,62.1000,-7.0000
4,gl,ivittuut,Ivittuut,3,11,61.2000,-48.1667

In [14]:
%%time

# calculating distance between each sample of river plastic and the closest 3 cities and population in those cities

df_closest_cities = pd.DataFrame()
master_city_lol = list()
master_closest_cities_plastics = pd.DataFrame()

for idx, row in plastics.iterrows():
    
    p_record = row['Record']
    p_lat = row['Sample_Latitude']
    p_long = row['Sample_Longitude']
    p_pieces = row['Total_Pieces']
    
    for idx, row in cities.iterrows():
        c_lat = row['City_Latitude']
        c_long = row['City_Longitude']
        c_city = row['City']
        c_country = row['Country']
        c_population = row['City_Population']

        specific_city = list()
        specific_city = [#p_lat,p_long,p_pieces,
                         c_city,c_country,c_population,\
                                geopy.distance.great_circle((p_lat,p_long), (c_lat,c_long)).km]

        master_city_lol.append(specific_city)
        #OUT OF CITIES
    
    df_closest_cities = pd.DataFrame(master_city_lol)
    df_closest_cities.head(5)

    df_closest_cities.columns =  ["c_city","c_country","c_population","distance_from_city"] #['p_long','p_lat','p_total_pieces',
    df_closest_cities = df_closest_cities.sort_values(by='distance_from_city').head(3).reset_index(drop=True)
    df_closest_cities_clean = df_closest_cities.stack().to_frame().T
    df_closest_cities_clean

    old_cols = ["c_city","c_country","c_population","distance_from_city"]

    new_cols = list()
    for i in range(1,4):
        for c in old_cols:
            appender = str()
            new_cols.append(c + f"_{i}")
    df_closest_cities_clean.columns = new_cols
    df_closest_cities_clean['p_record']= p_record
    df_closest_cities_clean['p_lat'] = p_lat 
    df_closest_cities_clean['p_long']= p_long
    df_closest_cities_clean['p_total_pieces']= p_pieces
    df_closest_cities_clean.head()
    
    master_closest_cities_plastics = pd.concat([master_closest_cities_plastics,df_closest_cities_clean])
master_closest_cities_plastics.head()

CPU times: user 2h 29min 34s, sys: 12min 44s, total: 2h 42min 18s
Wall time: 2h 35min 4s

In [15]:
master_closest_cities_plastics.to_csv('river_plastics_cities.csv')

### aggregating river plastic and river data

In [44]:
rivers = pd.read_csv('rivers.csv', encoding = 'ISO-8859-1')

In [45]:
rivers.head()

   No         Name     Vol    lon   lat
0   1       Amazon  6642.0  -55.5  -2.0
1   2        Congo  1308.0   15.3  -4.3
2   3      Orinoco  1129.0  -63.6   8.1
3   4   Changjiang   944.0  117.6  30.8
4   5  Brahmaputra   628.0   89.7  25.2

In [46]:
%%time

# calculating distance between each sample of river plastic and the closest 3 rivers and water discharge from those rivers

df_closest_rivers = pd.DataFrame()
master_river_lol = list()
master_closest_rivers_plastics = pd.DataFrame()

for idx, row in plastics.iterrows():
    
    p_record = row['Record']
    p_lat = row['Sample_Latitude']
    p_long = row['Sample_Longitude']
    p_pieces = row['Total_Pieces']
    
    for idx, row in rivers.iterrows():
        r_lat = row['lat']
        r_long = row['lon']
        r_vol = row['Vol']
        r_name = row['Name']

        specific_river = list()
        specific_river = [#p_lat,p_long,p_pieces,
                         r_name,r_vol,\
                                geopy.distance.great_circle((p_lat,p_long), (r_lat,r_long)).km]

        master_river_lol.append(specific_river)
        #OUT OF RIVERS
    
    df_closest_rivers = pd.DataFrame(master_river_lol)
    df_closest_rivers.head(5)

    df_closest_rivers.columns =  ["r_name","r_vol","distance_from_river"] #['p_long','p_lat','p_total_pieces',
    df_closest_rivers = df_closest_rivers.sort_values(by='distance_from_river').head(3).reset_index(drop=True)
    df_closest_rivers_clean = df_closest_rivers.stack().to_frame().T
    df_closest_rivers_clean

    old_cols = ["r_name","r_vol","distance_from_river"]

    new_cols = list()
    for i in range(1,4):
        for c in old_cols:
            appender = str()
            new_cols.append(c + f"_{i}")
    df_closest_rivers_clean.columns = new_cols
    df_closest_rivers_clean['p_record']= p_record
    df_closest_rivers_clean['p_lat'] = p_lat 
    df_closest_rivers_clean['p_long']= p_long
    df_closest_rivers_clean['p_total_pieces']= p_pieces
    df_closest_rivers_clean.head()
    
    master_closest_rivers_plastics = pd.concat([master_closest_rivers_plastics,df_closest_rivers_clean])
master_closest_rivers_plastics.head()

CPU times: user 1min 12s, sys: 3.84 s, total: 1min 15s
Wall time: 1min 18s

In [47]:
master_closest_rivers_plastics.to_csv('river_plastics_rivers.csv')